<!-- Begin ng-view -->
<!-- ng-controller="createLineupController as createLineupCtrl" -->
<div class="jumbotron">
	<div class="wrapper">
		<div class="container">
			<h2>Step 2: Create Lineup for {{league[0].LeagueID.name}}</h2>
		</div>
	</div>
	<div class="wrapper">
		<div class="container">
			<div class="col-sm-8">
				<p>Balance: {{leagues.beginningBalance | currency}}</p>
				<p>Remaining Transfers: {user.transfers} of 10</p>
			</div>
			<div class="col-sm-4">
				<p>Next Match: {nextMatch}</p>
				<p>Starts in: {countdown}</p>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div class="container">
			<div class="col-sm-6">
				<div class="text-center">
					<p>MY TEAM</p>
				</div>
				<div class="row wrapper">
					<p>Minimum Lineup: {{createLineupCtrl.numberOfWicketKeepers}} <img src="/../images/wicket.png" alt="wicket"> {{createLineupCtrl.numberOfBowlers}} <img src="/../images/ball.png"> {{createLineupCtrl.numberOfBatsmen}} <img src="/../images/bat.png"></p>
				</div>
				<table class="table table-striped">
					<thead>
						<th></th>
						<th>Name</th>
						<th>Position</th>
						<th>Team</th>
						<th>Cost</th>
					</thead>
					<tbody>
						<tr ng-repeat="player in currentLineup" ng-click="selectPlayer(player.objectId, player.name, player.CricketPlayerType.name, player.team, player.cost)">
							<td><a class="btn btn-danger" ng-click="removePlayerFromTeam()">-</a></td>
							<td>{{player.name}}</td>
							<td>{{player.position}}</td>
							<td>{{player.team}}</td>
							<td>{{player.cost | currency}}</td>
						</tr>
					</tbody>
				</table>
				<div>
					<a class="btn btn-default" ng-click="saveLineup()">Save Lineup</a>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="text-center"><p>AVAILABLE PLAYERS</p></div>
				<table class="table table-striped">
					<thead>
						<th></th>
						<th>Name</th>
						<th>Position</th>
						<th>Team</th>
						<th>Cost</th>
					</thead>
					<tbody>
						<tr ng-repeat="player in players.players" ng-click="selectPlayer(player.objectId, player.name, player.CricketPlayerType.name, player.team, player.cost)">
							<td><a class="btn btn-success" ng-click="addPlayerToTeam()">+</a></td>
							<td>{{player.name}}</td>
							<td>{{player.CricketPlayerType.name}}</td>
							<td>{{player.team}}</td>
							<td>{{player.cost | currency}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<!--
	<pre>{{players.players | json }}</pre>
	-->

	<div ng-repeat="cricketPlayer in problemSaving">
		{{cricketPlayer.name}}
	</div>

</div> <!-- /.jumbotron -->
