<!-- Begin ng-view -->
<!-- ng-controller="createLineupController as createLineupCtrl" -->
<div class="jumbotron">
	<div class="wrapper">
		<div class="container">
			<h2>Step 2: Create Lineup</h2>
		</div>
	</div>
	<div class="wrapper">
		<div class="container">
			<div class="col-sm-8">
				<p>Balance: {{currentBalance | currency}}</p>
				<p>Remaining Transfers: {user.transfers} of 10</p>
			</div>
			<div class="col-sm-4">
				<div id="spn-next-game" class="next-game">
				  <p>Next Game Starts</p>
				  <div>
				    <div id="defaultCountdown"></div>
				  </div>
				  <span id="spn-match-teams">
				    KKR<br>
				    	<img src="/images/KKR.png" alt="KKR"><br>
				  	vs<br>
				    	<img src="images/MI.png" alt"MI"><br>
				    MI
				  </span>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div class="container">
			<div class="col-sm-6">
				<div class="text-center">
					<p>MY TEAM</p>
				</div>
				<div class="row wrapper">
					<p>Minimum Lineup: {{createLineupCtrl.numberOfWicketKeepers}} <img src="/../images/wicket.png" alt="wicket"> {{createLineupCtrl.numberOfBowlers}} <img src="/../images/ball.png"> {{createLineupCtrl.numberOfBatsmen}} <img src="/../images/bat.png"></p>
				</div>
				<div class="row wrapper">
					<ul class="nav nav-pills nav-justified">
						<li><a class="btn btn-default" href="">June 5</a></li>
						<li><a class="btn btn-default" href="">June 6</a></li>
						<li><a class="btn btn-default" href="">June 7</a></li>
						<li><a class="btn btn-default" href="">June 8</a></li>
						<li><a class="btn btn-default active" href="">Current</a></li>
					</ul>
				</div>
				<table class="table table-striped">
					<thead>
						<th></th>
						<th>Name</th>
						<th>Position</th>
						<th>Team</th>
						<th>Cost</th>
					</thead>
					<tbody>
						<tr ng-repeat="player in currentLineup" ng-click="selectPlayer(player.objectId, player.name, player.CricketPlayerType.name, player.team, player.cost)">
							<td><a class="btn btn-danger" ng-click="removePlayerFromTeam()">-</a></td>
							<td>{{player.name}}</td>
							<td>{{player.position}}</td>
							<td>{{player.team}}</td>
							<td>{{player.cost | currency}}</td>
						</tr>
					</tbody>
				</table>
				<div>
					<a class="btn btn-default" ng-click="saveLineup()">Save</a>
					<a class="btn btn-default" ng-click="resetLineup()">Clear</a>
					<a class="btn btn-default" ng-click="archiveLineup()">{Dev} Archive</a>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="text-center"><p>AVAILABLE PLAYERS</p></div>
				<table class="table table-striped">
					<thead>
						<th></th>
						<th>Name</th>
						<th>Position</th>
						<th>Team</th>
						<th>Cost</th>
					</thead>
					<tbody id="availablePlayersList">
						<tr ng-repeat="player in players.players" ng-click="selectPlayer(player.objectId, player.name, player.CricketPlayerType.name, player.team, player.cost)">
							<td><a class="btn btn-success" ng-click="addPlayerToTeam()">+</a></td>
							<td>{{player.name}}</td>
							<td>{{player.CricketPlayerType.name}}</td>
							<td>{{player.team}}</td>
							<td>{{player.cost | currency}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<!--
	<pre>{{players.players | json }}</pre>
	-->

	<div ng-repeat="cricketPlayer in problemSaving">
		{{cricketPlayer.name}}
	</div>

</div> <!-- /.jumbotron -->
