<!-- Begin ng-view -->
<!-- ng-controller="createLineupController as createLineupCtrl" -->
<div class="jumbotron">
	
	<!-- Display amount of money user has to purchase players -->
	<div class="box shim-left">
		<h5 class="pull-right">
			Current Balance: {{createLineupCtrl.userMoney | currency}}
		</h5>
	</div>

	<!-- Create lineup module -->
	<div class="box shim-left">
		<h3>Step 2: Select Lineup</h3>
		<div class="container">
			<div class="col-sm-6">
				<div class="text-center"><p>MY TEAM</p></div>
				<div class="row">
					<p>Minimum: 1 <img src="/../images/wicket.png" alt="wicket"> 3 <img src="/../images/ball.png"> 3 <img src="/../images/bat.png"></p>
				</div>
				<table class="table table-striped">
					<thead>
						<th></th>
						<th>Name</th>
						<th>Position</th>
						<th>Team</th>
						<th>Cost</th>
					</thead>
					<tbody>
						<tr ng-click="selectId(player.objectId); selectName(player.name); selectPlayerType(player.CricketPlayerType.name); selectPlayerTeam(player.team)">
							<td><a class="btn btn-danger" ng-click="removePlayerFromTeam()">-</a></td>
							<td>{{player.name}}</td>
							<td>{{player.CricketPlayerType.name}}</td>
							<td>{{player.team}}</td>
							<td>{{player.cost | currency}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-6">
				<div class="text-center"><p>AVAILABLE PLAYERS</p></div>
				<table class="table table-striped">
					<thead>
						<th></th>
						<th>Name</th>
						<th>Position</th>
						<th>Team</th>
						<th>Cost</th>
					</thead>
					<tbody>
						<tr ng-repeat="player in players.players" ng-click="selectId(player.objectId); selectName(player.name); selectPlayerType(player.CricketPlayerType.name); selectPlayerTeam(player.team)">
							<td><a class="btn btn-success" ng-click="addPlayerToTeam()">+</a></td>
							<td>{{player.name}}</td>
							<td>{{player.CricketPlayerType.name}}</td>
							<td>{{player.team}}</td>
							<td>{{player.cost | currency}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div>
		<a class="btn btn-default" ng-click="">Save Lineup</a>
	</div>
	
	<!-- 
	<pre>{{players.players | json }}</pre>
	-->

</div> <!-- /.jumbotron -->
