<!-- Begin ng-view -->
<!-- ng-controller="homepageController as homepageCtrl" -->
  <div class="jumbotron text-center" id="top-jumbotron">
    <div class="clearfix top-home">
      <div class="welcome-mssg">
          <h1>WELCOME TO</h1>
          <h2>CRICKETDUEL</h2>
          <div id="home-buttons" class="clearfix">        
              <form action="/rules" method="get" class="login-btn">
                  <button class="btn-lg" id="btn-game-rules">GAME RULES</button>
              </form>
              <form action="/register" method="get" class="login-btn">
                  <button class="btn-lg" id="btn-join-league">JOIN A LEAGUE</button>
              </form>
          </div>
      </div>
      <div class="box-login">
        <br><p>Already Created a Team?</p>
        <span id="login-buttons">
          <form action="login" method="get" class="">
              <button class="btn-lg" id="btn-login"><span class="glyphicon glyphicon-user"></span>  LOGIN</button>
          </form>
        </span>
      </div>
  </div>
  <div class="clearfix bottom-home">    
      <div id="spn-next-game" class="next-game">
        <p>Next Game Starts</p>
        <div>
          <div id="defaultCountdown"></div>
        </div>
        <span id="spn-match-teams">
          KKR<br>
          <img src="/images/kkr.png" alt="KKR"><br>
        vs<br>
          <img src="images/MI.png" alt"MI"><br>
          MI
        </span>
      </div> <!-- #spn-next-game -->
      <div id="leaderboard" class="leaderboard">LEADERBOARD</div>        
    </div> <!-- / .clearfix bottom-home -->     
  </div> <!-- / #top-jumbotron -->
      
  <div class="content"></div>
