<!-- Begin ng-view -->
<!-- ng-controller="leaguesController as leagues" -->
<div class="container">
	<a class="btn btn-default" href="/dashboard">Return to My Dashboard</a>
</div>
<div class="container">
	<table class="table">
		<thead>
			<th>createdAt</th>
			<th>Name</th>
			<th>objectId</th>
			<th>updatedAt</th>
		</thead>
		<tbody>
			<tr ng-repeat="league in leagues">
				<td>{{league.createdAt}}</td>
				<td>{{league.name}}</td>
				<td>{{league.objectId}}</td>
				<td>{{league.updatedAt}}</td>
			</tr>
		</tbody>
	</table>

	<div>
		<strong>Selected Leagues:</strong> {{ leagues | filter:{"$selected": true} }}
	</div>

	<table ng-table="tableParams" show-filter="true" class="table ng-table-rowselected">
		<thead>
			<th>createdAt</th>
			<th>Name</th>
			<th>objectId</th>
			<th>updatedAt</th>
		</thead>
		<tbody>
			<tr ng-repeat="league in leagues" ng-click="league.$selected = !user.$selected; changeSelection(user)" ng-class="{'active': user.$selected}">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
		</tbody>
		</tr>
	</table>

	<!--
	<div>
	    <strong>Selected users:</strong> {{ data | filter:{"$selected": true} }}
	</div>
	<button class="btn btn-default" ng-click="tableParams.data[1].$selected = true">Select second row</button>

	<table ng-table="tableParams" show-filter="true" class="table ng-table-rowselected">
	    <tr ng-repeat="user in $data"
	        ng-click="user.$selected = !user.$selected; changeSelection(user)"
	        ng-class="{'active': user.$selected}">
	        <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">
	            {{user.name}}
	        </td>
	        <td data-title="'Age'" sortable="'age'" filter="{ 'age': 'text' }">
	            {{user.age}}
	        </td>
	    </tr>
	</table>
	-->

</div>
