<!-- Begin ng-view -->
<!-- ng-controller="leaguesController as leagues" -->
<div class="jumbotron">
	<div class="row">
		<a class="btn btn-default pull-right" href="/dashboard">Go Back</a>
	</div>
	<div>
		<h5 class="pull-right">Current Balance: {{leaguesCtrl.userMoney | currency}}</h5>
		<h3>Step 1: Select League</h3>
		<table ng-table="tableParams" class="table ng-table-rowselected">
			<!-- <thead>
				<th>Name</th>
				<th>Entry Fee</th>
				<th>Maximum Number of Teams</th>
				<th>Current Number of Teams</th>
				<th>Guaranteed Prize</th>
				<th>Winning Prize</th>
			</thead> -->
			<!-- <tbody class="text-center"> -->
				<tr ng-repeat="league in leaguesInfo" ng-click="league.$selected = !league.$selected; changeSelection(league); selectId(league.objectId)" ng-class="{'active': league.$selected}">
				<!-- <tr ng-repeat="league in leaguesInfo" ng-click="league.$selected = !league.$selected; changeSelection(league)" ng-class="{'active': league.$selected}"> -->
					<td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">
						{{league.name}}
					</td>
					<td data-title="'Entry Fee'" sortable="'entryFee'" filter="{ 'entryFee': 'text' }">
						{{league.entryFee | currency}}
					</td>
					<td data-title="'Max Entries'" sortable="'maxEntries'" filter="{ 'maxEntries': 'text' }">
						{{league.maxEntries}}
					</td>
					<td data-title="'No. of Entries'" sortable="'noOfEntries'" filter="{ 'noOfEntries': 'text' }">
						{{league.noOfEntries}}
					</td>
					<td data-title="'Guaranteed Prize'" sortable="'guaranteedPrize'" filter="{ 'guaranteedPrize': 'text' }">
						{{league.guaranteedPrize | currency}}
					</td>
					<td data-title="'Winning Prize'" sortable="'winningPrize'" filter="{ 'winningPrize': 'text' }">
						{{league.winningPrize | currency}}
					</td>
				</tr>
			<!-- </tbody> -->	
		</table> <!-- /.ng-table -->
		<strong>Selected Leagues:</strong> {{ leaguesInfo | filter:{"$selected": true} }}
	</div>
	<div class="row">
		<!-- <a class="btn btn-default pull-right" href="/dashboard/join-league/team-builder" ng-disabled="leaguesInfo.$selected === undefined" ng-click="">Join Selected League</a> -->
		<a class="btn btn-default pull-right" ng-click="addLeague()">Join Selected League</a>
	</div>
	<pre>{{leaguesInfo | json}}</pre>
</div> <!-- /.jumbotron -->
