<!-- Begin ng-view -->
<!-- ng-controller="leaguesController as leagues" -->
<div class="container text-center">
	<a class="btn btn-default" href="/dashboard">Return to My Dashboard</a>
</div>
<div class="container">
	<div>
		<strong>Selected Leagues:</strong> {{ leagues | filter:{"$selected": true} }}
	</div>
	<table ng-table="tableParams" show-filter="true" class="table ng-table-rowselected">
		<thead>
			<th>createdAt</th>
			<th>Name</th>
			<th>objectId</th>
			<th>updatedAt</th>
		</thead>
		<tbody>
			<tr ng-repeat="league in leagues" ng-click="league.$selected = !league.$selected; changeSelection(league)" ng-class="{'active': league.$selected}">
				<td data-title="'createdAt'" sortable="'createdAt'" filter="{ 'createdAt': 'text' }">
					{{league.createdAt}}
				</td>
				<td data-title="'name'" sortable="'name'" filter="{ 'name': 'text' }">
					{{league.name}}
				</td>
				<td data-title="'objectId'" sortable="'objectId'" filter="{ 'objectId': 'text' }">
					{{league.objectId}}
				</td>
				<td data-title="'updatedAt'" sortable="'updatedAt'" filter="{ 'updatedAt': 'text' }">
					{{league.updatedAt}}
				</td>
		</tbody>
		</tr>
	</table>
</div>
