<!-- Begin ng-view -->
<!-- ng-controller="leaguesController as leaguesCtrl" -->
<div class="jumbotron">
	<div class="row">
		<a class="btn btn-default pull-right" href="/dashboard">Go Back</a>
	</div>
	<div>
		<h5 class="pull-right">Current Balance: {{leaguesCtrl.userMoney | currency}}</h5>
		<h3>Step 1: Select League</h3>
		<table ng-table="tableParams" class="table ng-table-rowselected">
			<tr ng-repeat="league in $data" ng-click="league.$selected = !league.$selected; changeSelection(league); selectLeague(league.objectId, league.name, league.entryFee); checkSelected()" ng-class="{'active': league.$selected}">
				<td data-title="'Name'" sortable="'name'">
					{{league.name}}
				</td>
				<td data-title="'Entry Fee'" sortable="'entryFee'">
					{{league.entryFee | currency}}
				</td>
				<td data-title="'Max Entries'" sortable="'maxEntries'">
					{{league.maxEntries}}
				</td>
				<td data-title="'No. of Entries'" sortable="'noOfEntries'">
					{{league.noOfEntries}}
				</td>
				<td data-title="'Guaranteed Prize'" sortable="'guaranteedPrize'">
					{{league.guaranteedPrize | currency}}
				</td>
				<td data-title="'Winning Prize'" sortable="'winningPrize'">
					{{league.winningPrize | currency}}
				</td>
			</tr> <!-- /.ng-repeat -->
		</table> <!-- /.ng-table -->
		<!--
		<strong>Selected Leagues:</strong> {{ leaguesInfo | filter:{"$selected": true} }}
		-->
	</div>
	<div class="row">
		<a class="btn btn-default pull-right" ng-click="addUserToLeague()" ng-disabled="disabled">Join Selected League</a>
	</div>
	<!--
	<pre>{{leaguesInfo | json}}</pre>
	-->
</div> <!-- /.jumbotron -->
