<!-- Form to login with username & password -->
<form name="loginForm" ng-controller="loginController as login" ng-submit="login.logIn(Parse.User)">
	<h4>Login | Username & Password</h4>
	<fieldset class="form-group">
		<input ng-model="authService.login.username" class="form-control" type="text" name="Username">
	</fieldset>
	<fieldset class="form-group">
		<input ng-model="authService.login.password" class="form-control" type="password" name="Password">
	</fieldset>
	<fieldset class="form-group">
		<input type="submit" class="btn btn-success pull-right" value="Submit">
	</fieldset>
</form>

<!-- Form to login with facebook -->
<form action="fcbkLoginForm" ng-controller="fcbkLoginController as fcbkLogin" ng-submit="login.LogIn()">
	<h4><i class="fa fa-facebook-official"></i> Login | Username & Password</h4>
	<fieldset class="form-group">
		<input ng-model="authService.fcbkLogin.username" class="form-control" type="text" name="Username">
	</fieldset>
	<fieldset class="form-group">
		<input ng-model="authService.fckbLogin.password" class="form-control" type="password" name="Password">
	</fieldset>
	<fieldset class="form-group">
		<input type="submit" class="btn btn-success pull-right" value="Submit">
	</fieldset>
</form>
