<!-- Begin ng-view -->
<!-- ng-controller="matchesController as matchesCtrl" -->

<div class="jumbotron">
	<div class="row">
		<a class="btn btn-default pull-right" href="/dashboard">Go Back</a>
	</div>
	<h3>Set Lineup for {league.name}</h3>
	<h5 class="pull-right">Current Balance: {{matchesCtrl.userMoney | currency}}</h5>
		<table>
			<tr ng-repeat="match in matches.matches">
				<td>
					Name: {{match.Name}}
				</td>
				<td>
					objectId: {{match.objectId}}
				</td>
			</tr>
		</table>
		<ul class="nav nav-tabs" ng-controller="panelController as panel" ng-repeat="match in matches.matches">
			<li ng-class="{active: panelisSelected}">
				<a href="" ng-click="panel.selectTab">{{match.Name}}</a>
			</li>
		</ul>

	
</div> <!-- /.jumbotron -->