<!-- Begin ng-view -->
<!-- ng-controller="matchesController as matchesCtrl" -->

<div class="jumbotron">
	<div class="row">
		<a class="btn btn-default pull-right" href="/dashboard">Go Back</a>
	</div>
	<h3>Set Lineup for Matches in {league.name}</h3>
	<h5 class="pull-right">Current Balance: {{matchesCtrl.userMoney | currency}}</h5>
		<ul class="nav nav-tabs" ng-controller="panelController as panel">
			<li ng-repeat="match in matches.matches" ng-class="{active: panel.isSelected}">
				<a href="" ng-click="panel.selectTab; selectId(match.objectId); createNewLineup()">{{match.Name}}<br>(objectId: {{match.objectId}})</a>
			</li>
		</ul>
		<!-- Panels for each match -->
		<div class="panel" ng-show="panel.isSelected">
			<h1>Hello from {{match.Name}}!</h1>
		</div>

	
</div> <!-- /.jumbotron -->