<!-- Begin ng-view -->
<!-- ng-controller="registerController as register" -->
<!-- Form to register & create new account -->
<form ng-submit="register.doRegister()">
	<h4>{{ register.heading }}</h4>
	
	<!-- EMAIL -->
	<fieldset class="form-group">
		<input ng-model="register.registerData.email" class="form-control" type="email" name="email" placeholder="Email Address">
	</fieldset>

	<!-- USERNAME -->
	<fieldset class="form-group">
		<input ng-model="register.registerData.username" class="form-control" type="text" name="username" placeholder="Username">
	</fieldset>
	
	<!-- PASSWORD -->
	<fieldset class="form-group">
		<input ng-model="register.registerData.password" class="form-control" type="password" name="password" placeholder="Password">
	</fieldset>

	<!-- REGISTER BUTTON -->
	<!--
	<fieldset class="form-group" ng-if="register.error">
		<p>{{ register.error }}</p>
	</fieldset>
	-->
	<fieldset class="form-group">
		<button type="submit" class="btn btn-success pull-right">Submit
	</fieldset>
</form>

<!-- Form to login with facebook -->
<form ng-controller="fcbkRegisterController as fcbkRegister" ng-submit="" novalidate>
	<fieldset class="form-group">
		<input type="submit" class="btn pull-right" id="facebook-login-button" value="Register with Facebook">
	</fieldset>
</form>