<!-- Begin ng-view -->
<!-- ng-controller="rulesController as rules" -->
<div class="box shim-left">
	<h4>
		Step 1. 
		<a href="/register" class="btn btn-default">Register</a>
		<h4>Create your own account by registering with CricketDuel.</h4>
	</h4>
</div>
<div class="box shim-left">
	<h4>Step 2. Pick your league.</h4>
	<img class="sample-image-padding" src="/images/Leagues.png">
</div>
<div class="box shim-left">
	<h4>Step 3.  Choose your team based on this format.</h4>
	<img class="sample-image-padding" src="/images/Teams.png">
	<table class="table table-bordered">
		<thead>
			<th>Batsman</th>
			<th>All Rounders</th>
			<th>Wicket Keeper</th>
			<th>Bowlers</th>
		</thead>
		<tbody>
			<tr ng-repeat="teamFormat in gameRules.teamFormat">
				<td>{{teamFormat.batsman}}</td>
				<td>{{teamFormat.allRounders}}</td>
				<td>{{teamFormat.wicketKeeper}}</td>
				<td>{{teamFormat.bowlers}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="box shim-left">
	<h4>Step 4.  Watch the game and have fun!  Check back after each match to see your score.</h4>
</div>
<div class="box shim-left">
	<h5>Core Scoring:</h5>
	<ul>
		<li>{{gameRules.points.coreScoring.run}} point per run scored.</li>
		<li>{{gameRules.points.coreScoring.wicketTaken.batsmanNotBowler}} points - {{gameRules.points.coreScoring.wicketTaken.batsmanBowler}} points if the batsman dismissed is classified as 'Bowler'.</li>
		<li>{{gameRules.points.coreScoring.catch}} points per catch held</li>
		<li>{{gameRules.points.coreScoring.stump}} points per stymping</li>
		<li>{{gameRules.points.coreScoring.runOut}} points per run-out</li>
	</ul>
	<h5>*In case multiple players are credited with a Run out, the player considered to be most effective in affecting hte run out is awarded the points.</h5>
	<h5>Bonus Points</h5>
	<h5>Bonus Points for Batting</h5>
	<ul>
		<li>{{gameRules.points.bonus.every50Runs}} points for every 50 runs that a player scores</li>
		<li>{{gameRules.points.bonus.manOfTheMatch}} points for player winning man of the match award</li>
	</ul>
	<h5>Run rate bonus (for players scoring 20 runs or more or facing 15 balls or more)</h5> <!-- replace #s?? -->
	<div ng-repeat="subrunRate in gameRules.points.bonus.runRate">
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{subrunRate.description}} &nbsp;&nbsp;&nbsp;&nbsp; {{subrunRate.value}} points</p>
	</div>
	<h5>Negative Bonus Points</h5>
	<ul>
		<li>{{gameRules.points.bonus.dismissedForDuck.nonBowler}} (nagative twenty) points for every non-bowlder who is dismissed for a duck = {{}} runs</li>
		<li>{{gameRules.points.bonus.dismissedForDuck.bowler}} (negative ten) for a bowlder who is dismissed for a duck = 0 runs</li>
		<li>{{gameRules.points.bonus.nonBowlerOut}} (negative five) points for every non-bowler that gets out</li>
	</ul>
	<h5>Bonus Points for Bowling</h5>
	<ul>
		<li>+ {{gameRules.points.bonus.bowling.threeWicketHaul}} points for players who get a three-wicket haul</li>
		<li>+ {{gameRules.points.bonus.bowling.fiveWicketHaul}} points for players who get a five-wicket haul</li>
		<li>+ {{gameRules.points.bonus.bowling.hatTrick}} points for players who take a hat-trick</li>
		<li>+ {{gameRules.points.bonus.manOfTheMatch}} points for players winning man of the match award</li>
	</ul>
	<h5>Economy rate bonus (for players bowling two overs or more)</h5>
	<div ng-repeat="bowlingEconomyRate in gameRules.points.bonus.BowlingEconomyRate">
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{bowlingEconomyRate.description}} &nbsp;&nbsp;&nbsp;&nbsp; {{bowlingEconomyRate.value}} points</p>
	</div>

</div>