<!-- Begin ng-view -->
<!-- ng-controller="teamBuilderController as teamBuilder" -->
<div class="jumbotron">
	<div class="row">
		<a class="btn btn-default pull-right" href="/dashboard/join-league">Go Back</a>
	</div>
	<div>
		<h5 class="pull-right">Current Balance: {{teamBuilder.userMoney | currency}}</h5>
		<h3>Step 2: Draft Players</h3>
		<table ng-table="tableParams" class="table ng-table-rowselected">
			<tr ng-repeat="player in players.players" ng-click="player.$selected = !player.$selected; changeSelection(player); selectId(player.objectId); selectName(player.name)" ng-class="{'active': player.$selected}">
				<td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">
					{{player.name}}
				</td>
				<td data-title="'CricketPlayerTypeID'" sortable="'CricketPlayerTypeID'" filter="{ 'CricketPlayerTypeID': 'text' }">
					{{player.CricketPlayerType.name}}
				</td>
				<td data-title="'team'" sortable="'team'" filter="{ 'team': 'text' }">
					{{player.team}}
				</td>
				<td data-title="'cost'" sortable="'cost'" filter="{ 'cost': 'text' }">
					{{player.cost | currency}}
				</td>
			</tr>
		</table>
		<strong>Selected Players:</strong> {{ players.players | filter:{"$selected": true} }}
	</div>
	<div class="row">
		<a class="btn btn-default pull-right disabled" href="#" ng-click="">Add Players to Team</a>
	</div>
	<pre>{{players.players | json }}</pre>
</div> <!-- /.jumbotron -->