

/*
.jumbotron {
	background: url("../images/stadium1.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 250px 0px;
}
*/
