/*
Fixes functionality for ui-bootstrap
.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}
*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#top-jumbotron {
	color: #fff;
	background: url("/images/stadium.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 150px 0px;
	opacity: 0.75;
}

.ng-invalid.ng-dirty {
	border-color: #fa787e;
}

.ng-valid.ng-dirty {
	border-color: #78fa89;
}

#facebook-login-button {
	color: #fff;
	background-color: #43609c;
}
