@media screen and (max-width: 1000px) {
    .welcome-mssg, .box-login, #spn-next-game, #leaderboard {
        display: block;
		float: none;
    }
	
	.welcome-mssg {
		margin-left: 10px;
	}
	
	.box-login  {
		left: 11%;
	}
	
	#spn-next-game {
		margin-left: 163px;
	}
	
	
	.leaderboard {
		 margin-top: 45px;
		 margin-left: -25px;
}